.se-component .se-video-container .__se__float-none > iframe{
height: 50vh !important;
padding-bottom: 0px !important;
}

#react-root .se-video-container>figure{
    padding-bottom: 0px !important;
}

.cohortCard{
    display : flex;
    flex-wrap: wrap;
}