.cohortCard{
    display : flex;
    flex-wrap: wrap;
}

.published{
    color: black;
}

.unpublished {
    color:#808080;
}

.MuiButton-root.Button {
    margin: auto 0;
    height: 100px;
    width: 295px;
}